---
import AIImageGenerator from '../components/AIImageGenerator/AIImageGenerator.astro';
import '../styles/global.css';
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Image Generator</title>
</head>
<body>
    <AIImageGenerator />
    
    <script src="../scripts/imageGenerator.js"></script>
</body>
</html>